# training and Testing data

# Property Prices   
area     windows       price


0to 40 data (give  all the information) is traning


41 to 60 data (give only area and windows as ask them for price of property if its true or not and cheacking accuracy ) is testing

# examples
'''x_train,x_test,y_train,y_test = train_test_split(var[['sepal_length','sepal_width','petal_length','petal_width']],var['species'],test_size=0.3)'''
#or


'''


x=var['sepal_length','sepal_width','petal_length','petal_width']
y=var['species']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

'''

#or




'''
x=var.iloc[:,[0:3]]
y=var.iloc[:,[4]]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
'''



#or
'''
x=var.iloc[:,[0,1,2,3]]
y=var.iloc[:,[4]]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
'''

In [9]:

import pandas as pd

In [3]:
var = pd.DataFrame({"age":[25,30,35,40,45],"premium":[18000,32000,40000,47000,55000]})
var

   age  premium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [4]:
x=var['age']

In [5]:
y=var['premium']

In [7]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [8]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [12]:
x_train

4    45
0    25
2    35
3    40
Name: age, dtype: int64

In [13]:
x_test

1    30
Name: age, dtype: int64

In [14]:
y_train

4    55000
0    18000
2    40000
3    47000
Name: premium, dtype: int64

In [15]:
y_test

1    32000
Name: premium, dtype: int64