# Naive Bayes Classifier

In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt #or (import matplotlib.pyplot as plt )

In [18]:
var = pd.read_csv('Social_Network_Ads.csv')
var

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [20]:
Gender=LabelEncoder()
Age=LabelEncoder()
EstimatedSalary=LabelEncoder()
Purchased=LabelEncoder()

In [21]:
var['Gender']=Gender.fit_transform(var['Gender'])
var['Age']=Age.fit_transform(var['Age'])
var['EstimatedSalary']=EstimatedSalary.fit_transform(var['EstimatedSalary'])
var['Purchased']=Purchased.fit_transform(var['Purchased'])

In [22]:
var

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1    1                4          0
1    15810944       1   17                5          0
2    15668575       0    8               26          0
3    15603246       0    9               39          0
4    15804002       1    1               57          0
..        ...     ...  ...              ...        ...
395  15691863       0   28               24          1
396  15706071       1   33                8          1
397  15654296       0   32                5          1
398  15755018       1   18               17          0
399  15594041       0   31               20          1

[400 rows x 5 columns]

In [24]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test = train_test_split(var[['Gender','Age','EstimatedSalary']],var['Purchased'],test_size=0.2)

In [29]:
len(x_train)

320

In [30]:
len(x_test)

80

In [32]:
from sklearn.naive_bayes import GaussianNB

In [33]:
model=GaussianNB()

In [34]:
model.fit(x_train,y_train)

GaussianNB()

In [35]:
model.predict(x_test)

array([0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0])

In [36]:
x_test

     Gender  Age  EstimatedSalary
52        0   11               64
103       0   15              115
98        1   17               54
347       0   36               85
291       1   31               70
..      ...  ...              ...
35        1   17               11
342       0   20               47
241       1   20               41
232       1   22               84
29        1   13                3

[80 rows x 3 columns]

In [37]:
model.score(x_test,y_test)

0.85